# Created by Vercel CLI
VERCEL_OIDC_TOKEN="YOUR_VERCEL_OIDC_TOKEN"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
API_SECRET="YOUR_API_SECRET_FOR_SCAN_ENDPOINT"

VITE_APPS_SCRIPT_URL="https://script.google.com/macros/s/.../exec"

